<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lab 2</title>
</head>
<body>
    <header>
        <div class="nav-bar">
            <a href="/" class="active">Home</a>
            <a href="/weather/kyiv">Weather</a>
        </div>
    </header>
    <main>
        <p class="title">Welcome to the weather forcast site!</p>
        <a href="/weather/kyiv" class="btn">Start with Kyiv</a>
    </main>
</body>
</html>